{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 style="padding: 50px 0px; color:#ddd">Biz Kimiz ?</h1>
    <p style="color:#ddd">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem perspiciatis velit ducimus
        laborum? Perferendis id voluptatum aspernatur dignissimos quam expedita a vel ullam. Corporis nisi est maxime
        dolore
        praesentium perspiciatis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto eos iste unde
        tenetur voluptates alias
        ea voluptatibus ab maxime nostrum amet molestiae pariatur quaerat perferendis totam, deleniti porro
        voluptatum? Dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus corporis quis animi nemo
        minus itaque non Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam explicabo reprehenderit
        nesciunt maiores, obcaecati, sit magnam, quibusdam nemo accusantium alias consequatur vitae! Voluptates
        provident distinctio assumenda mollitia praesentium corrupti dolores.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ducimus veritatis porro natus odit, eos sit
        laboriosam! Doloribus provident libero praesentium officia, harum ipsum ullam optio eius. Quibusdam, facilis
        labore? earum magni ab molestiae, inventore assumenda eum, quae delectus mollitia praesentium vero optio unde.
    </p>
</div>

{% endblock content %}